@font-face {
    font-family: letra1;
    src: url(fuentes/MyriadPro-Light.otf);
}
@font-face {
    font-family: letra2;
    src: url(fuentes/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: letra3;
    src: url(fuentes/AmazonEmberCdRC_BdIt.ttf);
}
body{
    background-image: url(img/Fondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 10vh;
}
.barraSuperior{
    display: flex;
    justify-content: space-around;
    background-color: #3266cc;
    align-items: center;
    width: 102vw;
    left: -2vw;
    top: 0.0vh;
    height: 12vh;
    z-index: 2;
    position: fixed;
}
.barraSuperior a{
    text-decoration: none;
    color: white;
}
.barraSuperior img{
    width: 20vw;
}
.cuadroConsultar{
    background-color: white;
    border-radius: 1.7vw;
    width: 6rem;
    height: 1.4rem;
    text-align: center;
}
.cuadroConsultar .Consultar{
    color: black;
}
/*=================================================================================*/
.content1{
    margin-top: 20vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bloqueDLetras{
    margin-top: 8rem;
    font-family: letra1;
    text-align: center;
}
.ConsultaTuEstado{
    background-color: white;
    text-align: center;
    border-radius: 2vw;
}
.bloque2Consulta{
    text-align: start;
    margin-left: 3vw;
}
.bloque2Consulta input{
    width: 40vh;
}

/*=================================================================================*/
.content2{
    margin-top: 35vh;
    margin-left: -1.4vh;
    text-align: center;
    width:79rem;
}
.tituloC2{
    font-size: 2.2rem;
    font-family: letra1;
}
.BloqueG{
    display: flex;
    justify-content: space-around;
    width: 60rem;
    margin-left: 10rem;
}
.BloqueG .bloqueLetrasC2{
    font-family: letra1;
    font-size: 1.12rem;
}
.BloqueG img{
    width: 35vw;
} 
.botonEtapasEntrega{
    margin-left: 23rem;
    margin-bottom: 2rem;
    width: 20rem;
    height: 8rem;
}
.botonEtapasEntrega .botonC2{
    text-decoration: none;
    color: black;
    font-family: letra1;
}
.botonEtapasEntrega img{
    margin-left: 1rem;
    margin-top: rem;
    width: 2vw;
}
/*=================================================================================*/
.content3{    
    background-color: blanchedalmond;
    overflow: hidden;
}
.TituloEtapas p{
    margin-left:33rem;
    font-size:2.6rem;
    font-family: letra1;
}
.sudtitulosC3{
    position: relative;
    top: 12%;
    width: 98.7vw;
    height: 10vh;
    display: flex;
    font-size: 180%;
    font-family: letra1;
    justify-content: space-around;
}
.FechasEtapas{
    margin-left: 6rem;
    margin-top: 1rem;
    width: 88vw;
    height: 10vh;
    display: flex;
    font-size: 210%;
    font-family: letra2;
    justify-content: space-between;
}
.tituloBancos{
    margin-top: 4rem;
    font-size:2.6rem;
    font-family: letra1;
    display: flex;
    justify-content: space-evenly;
}
.content3 .imgBancos{
    margin-top:0rem;
    height: 70%;
}
.imgBancos .img1{
    margin-left: 6rem;
    width: 20vw;
}
.imgBancos .img2{
    position: relative;
    left: 15%;
    width: 26vw;
}
.imgBancos .img3{
    position: relative;
    left: 16%;
    bottom: 30px;
    width: 27vw;
}
.imgBancos .img4{
    position: relative;
    right: 41%;
    top: 15%;
    width: 14vw;
}
.imgBancos .img5{
    position: relative;
    left: 52%;
    bottom:9%;
    width: 16vw;
}