@font-face {
    font-family: letra1;
    src: url(fuentes/MyriadPro-Light.otf);
}
@font-face {
    font-family: letra2;
    src: url(fuentes/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: letra3;
    src: url(fuentes/AmazonEmberCdRC_BdIt.ttf);
}
body{
    background-image: url(img/Fondo.png);
    background-repeat: no-repeat;
    background-size: 105%;
    background-position-y: 16vh;
}
/* Barra Superior =======================================================================================================================*/
.barraSuperior{
    position: fixed;
    left: 0.01rem; 
    top: -0rem;
    width: 105vw;
    height: 16vh;
    display:flex;
    align-items: ;
    justify-content: space-evenly;
    background-color: #3266cc;
    z-index: 2;
}
.barraSuperior .Inicio {
    margin-top: 2.5rem;
    text-decoration: none;
    color: white;
    font-family: letra1;
}
.barraSuperior .QueEs {
    margin-top: 2.5rem;
    text-decoration: none;
    color: white;
    font-family: letra1;
}
.barraSuperior .imgBS{
    margin-top: 16px;
    width: 25vw;
    height: 10vh;
    font-family: letra1;
}
.barraSuperior .Entrega{
    margin-top: 2.5rem;
    text-decoration: none;
    color: white;
    font-family: letra1;
}
.cuadroConsultar {
    margin-top: 2.5rem;
    width: 10vw;
    height: 5vh;
    border-radius: 66.667rem;
    background-color: white;    
}
.cuadroConsultar a{
    margin-left: 2rem;
    text-decoration: none;
    color: black;
    font-family: letra1;
}
/* Content1 ============================================================================================================================ */
.content1{
    margin-top: 10em;
    display: flex;
    width: 100vw;
    height:35rem;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ConsultaTuEstado{
    border-radius: 5%;
    background-color:white;
}
.ConsultaTuEstado .bloque1Consulta{
    text-align: center;
    font-family: letra2;
}
.ConsultaTuEstado .bloque2Consulta{
    margin-left: 1rem;
    margin-top: -1rem;
    width: 25em;
    font-family: Myriad Pro, Regular;
}
.bloque2Consulta input{
    width: 28em;
    height: 4vh;
}
.bloque2Consulta label{
    margin-left: rem;
    font-family: letra2;
}
.cuadroAzulConsultar{
    width: 7em;
    height: 4.5vh;
    margin-left: 8em;
    margin-top: 2em;
    border-radius: 8px;
    padding: 0.5em 0em 0em;
    background-color: #147cfb;
}
.cuadroAzulConsultar .ConsultarFormulario{
    margin-left: 1.6rem;
    text-decoration: none;
    color: white;
    font-size:1rem;
    font-family: letra1;
}
.bloqueDLetras{
    margin-top: 10rem;
    height: 25rem;
}
.bloqueDLetras .LetrasD1{
    font-size:2.7rem; 
    text-align: center;
    font-family: letra1;
}
.bloqueDLetras .LetrasD2{
    font-size: 1.5rem;
    font-family: letra1;
    text-align: center;
}
.BotonConocerMás{
    margin-left: 37%;
    margin-bottom: 5%;
    width: 7em;
    height: 4.5vh;
    border-radius: 8px;
    background-color: #147cfb;
}
.BotonCMás{
    margin-left: 1.5em;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    font-family: letra1;
    color: white;

}
/* Content2 =============================================================================================================================*/
.content2{
    margin-top: 7rem;
    width: 98.7vw;
    height: 40rem;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
    display:inline-block;
}
.titulo{
    display: flex;
    justify-content: space-around;
    font-size:260%;
    font-family: letra1;
}
.bloqueLetrasC2{
   width: 35rem;
    height: 70vh;
    font-size:1.3rem;
    font-family: letra1;
    text-align: center;
}
.botonC2{
    margin-left:17rem;
    text-decoration: none;
    color: black;
    font-family: letra1;
}
.botonConocerEntrega img{
    width: 2vw;
    margin-left: 22.5rem;
}
.imagenGlobo{
    width: 47rem;
    margin-left: 33rem;
    margin-top: -46rem;
}
/* Content3 =============================================================================================================================*/
.content3{
    width: 78rem;
    height: 50rem;
    flex-wrap: wrap;
    background-color: burlywood;
    overflow: hidden;

}
.TituloEtapas{
    width: 98.7vw;
    height: 10vh;
    font-size:2.7rem;
    font-family: letra1;
    display: flex;
    justify-content: space-evenly;
}
.sudtitulosC3{
    margin-top: 5rem;
    display: flex;
    font-size: 2rem;
    font-family: letra1;
    justify-content: space-around;
    flex-wrap: wrap;
}
.FechasEtapas{
    display: flex;
    font-size: 2rem;
    font-family: letra2;
    justify-content: space-around
}
.tituloBancos{
    width: 98.7vw;
    height: 10vh;
    font-size:2.7rem;
    font-family: letra1;
    display: flex;
    justify-content: space-evenly;
}
.imgBancos{
    margin-top: 48%;
    height: 70%;
}
.imgBancos .img1{
    margin-left: 12%;
    width: 20vw;
}
.imgBancos .img2{
    margin-left: 15%;
    width: 26vw;
}
.imgBancos .img3{
    margin-left: 16%;
    margin-bottom: 30px;
    width: 27vw;
}
.imgBancos .img4{
    right: 41%;
    margin-top: 15%;
    width: 14vw;
}
.imgBancos .img5{
    margin-left: 52%;
    margin-bottom:9%;
    width: 16vw;
}
.botonPFrecuentes{
    margin-left: 42%;
    margin-top:72%;
    width: 20vw;
    height: 8vh;
}
.botonPFrecuentes .botonC3{
    text-decoration: none;
    color: black;
    font-family: letra1;
}
.botonPFrecuentes img{
    margin-left: 33%;
    margin-top: 50%;
    width: 2vw;
}
/* Content4 =============================================================================================================================*/
.content4{
    right: -0.03%;
    margin-top: 370%;
    width: 98.7vw;
    height: 90vh;
}
.tituloC4{
    position:absolute;
    margin-top: -6%;
    width: 98.7vw;
    height: 10vh;
    font-size:263%;
    font-family: letra1;
    display: flex;
    justify-content: space-evenly;
}
.número1C4{
    position:relative;
    margin-top: 14%;
    width: 98.7vw;
    height: 32%;
    text-align: center;
}
.circulo1{
    margin-left: 48%;
    width: 3vw;
    height: 6.5vh;
    border-radius: 1.25rem;
    background-color: #147cfb;
}
.circulo1 .N1{
    margin-top: 20%;
    font-family: letra1;
}
.número1C4 .pregunta1{
    margin-bottom: 3%;
    font-size: 150%;
    font-family: letra3;
}
.número1C4 .respuesta1{
    margin-bottom: 8%;
    font-size: 120%;
    font-family: letra1;
}
.número2C4{
    position:relative;
    margin-top: 20%;
    width: 98.7vw;
    height: 32%;
    text-align: center;
}
.circulo2{
    margin-left: 48%;
    width: 3vw;
    height: 6.5vh;
    border-radius: 1.25rem;
    background-color: #147cfb;
}
.circulo2 .N2{
    margin-top: 20%;
    font-family: letra1;
}
.número2C4 .pregunta2{
    margin-bottom: 3%;
    font-size: 150%;
    font-family: letra3;
}
.número2C4 .respuesta2{
    margin-bottom: 8%;
    font-size: 120%;
    font-family: letra1;
}
.botonVerMás1{
    margin-left: 45.5%;
    margin-top:20%;
    width: 20vw;
    height: 8vh;
}
.botonVerMás1 .botonC4{
    text-decoration: none;
    color: black;
    font-family: letra1;
}
.botonVerMás1 img{
    margin-left: 16%;
    margin-top: 50%;
    width: 2vw;
}
/* Content5 =============================================================================================================================*/
.content5{
    right: -0.03%;
    margin-top: 462%;
    width: 98.7vw;
    height: 90vh;
    background-color: rgb(225, 136, 35);
}
.número3C5{
    position:relative;
    margin-top: -1%;
    width: 98.7vw;
    height: 32%;
    text-align: center;
}
.circulo3{
    margin-left: 48%;
    width: 3vw;
    height: 6.5vh;
    border-radius: 1.25rem;
    background-color: #147cfb;
}
.circulo3 .N3{
    margin-top: 20%;
    font-family: letra1;
}
.número3C5 .pregunta3{
    margin-bottom: 3%;
    font-size: 150%;
    font-family: letra3;
}
.número3C5 .respuesta3{
    margin-bottom: 8%;
    font-size: 120%;
    font-family: letra1;
}
.número4C5{
    position:relative;
    margin-top: 13%;
    width: 98.7vw;
    height: 32%;
    text-align: center;
}
.circulo4{
    margin-left: 48%;
    width: 3vw;
    height: 6.5vh;
    border-radius: 1.25rem;
    background-color: #147cfb;
}
.circulo4 .N4{
    margin-top: 20%;
    font-family: letra1;
}
.número4C5 .pregunta4{
    margin-bottom: 3%;
    font-size: 150%;
    font-family: letra3;
}
.número4C5 .respuesta4{
    margin-bottom: 8%;
    font-size: 120%;
    font-family: letra1;
}
.botonVerMás2{
    margin-left: 45.5%;
    margin-top:20%;
    width: 20vw;
    height: 8vh;
}
.botonVerMás2 .botonC5{
    text-decoration: none;
    color: black;
    font-family: letra1;
}
.botonVerMás2 img{
    margin-left: 16%;
    margin-top: 50%;
    width: 2vw;
}
/* Content6 =============================================================================================================================*/
.content6{
    right: -0.03%;
    margin-top: 554%;
    width: 98.7vw;
    height: 90vh;
    background-color: rgb(205, 36, 180);
}
.número5C6{
    position:relative;
    margin-top: -1%;
    width: 98.7vw;
    height: 32%;
    text-align: center;
}
.circulo5{
    margin-left: 48%;
    width: 3vw;
    height: 6.5vh;
    border-radius: 1.25rem;
    background-color: #147cfb;
}
.circulo5 .N5{
    margin-top: 20%;
    font-family: letra1;
}
.número5C6 .pregunta5{
    margin-bottom: 3%;
    font-size: 150%;
    font-family: letra3;
}
.número5C6 .respuesta5{
    margin-bottom: 8%;
    font-size: 120%;
    font-family: letra1;
}
.cuadroAzulFin{
    margin-left: 5%;
    margin-top: 19%;
    width: 70vw;
    height: 30vh;
    text-align: center;
    border-radius: 10px;
    background-color: #147cfb;
}